{% extends '../_layouts/default.html' %}
{% load staticfiles %}
{% block website-title %}首頁{% endblock %}

{% block website-css %}<link rel="stylesheet" href="{% static 'index/css/course.css' %}">{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light scrolled awake" id="pb-navbar">
        <div class="container">
          <a class="navbar-brand" href="index.html">金大教學平台改良版</a>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="ion-navicon"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-features">功能</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-aboutus">關於我們</a></li>
              <li class="nav-item"><a class="nav-link" href="#section-faq">常見問題</a></li>
              <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" href="#" ><span class="pb_rounded-4 px-4">聯繫我們</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END nav -->

      <section class="section schedule bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h3>你好 <span class="alternate">{{unit.cName}}</span></h3>
                            <p>BH工作室出品</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="schedule-contents bg-schedule">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active schedule-item" id="nov20">
                                    <!-- Headings -->
                                    <ul class="m-0 p-0">
                                        <li class="headings">
                                            <div class="time">課程</div>
                                            <div class="speaker">公告</div>
                                            <div class="subject">文件</div>
                                            <div class="venue">作業</div>
                                        </li>
                                        {% for key, value in user_Dict.items %}
                                        <!-- Schedule Details -->
                                        <li class="schedule-details">
                                            <a href="{{value}}">
                                            <div class="block">
                                                <!-- time -->
                                                <div class="time">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="time">{{key}}</span>
                                                </div>
                                                <!-- Speaker -->
                                                <div class="speaker">
                                                    <span class="name">Samanta Doe</span>
                                                </div>
                                                <!-- Subject -->
                                                <div class="subject">Introduction to Wp</div>
                                                <!-- Venue -->
                                                <div class="venue">Auditorium A</div>
                                            </div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </section>
    <!--====  End of Schedule  ====-->
    {% endblock %}