{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/checkInput.js' %}"></script>