{% load staticfiles %}
<script src="{% static 'index/js/jquery.min.js' %}"></script>

<script src="{% static 'index/js/popper.min.js' %}"></script>
<script src="{% static 'index/js/bootstrap.min.js' %}"></script>
<script src="{% static 'index/js/slick.min.js' %}"></script>
<script src="{% static 'index/js/jquery.mb.YTPlayer.min.js' %}"></script>

<script src="{% static 'index/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'index/js/jquery.easing.1.3.js' %}"></script>

<!-- custom script -->
{% if request.get_full_path == "/course/" or request.get_full_path == "/test/" %}
<script src="{% static 'index/js/course.js' %}"></script>
{% else %}
<script src="{% static 'index/js/main.js' %}"></script>
{% endif %}
<script src="{% static 'index/js/checkInput.js' %}"></script>