/*=========================================================
	FOOTER
===========================================================*/
 #footer {
     background-color: #F8F9FA;
     border-top: 1px solid #F4f4f9;
     position: fixed;
     height: 50px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     margin-bottom: 0px;
}
 #footer .container {
     padding-bottom: 0px;
     padding-top: 0px;
}
 .footer-widget a {
     color: #102E37;
     -webkit-transition: 0.2s color;
     transition: 0.2s color;
}
 .footer-widget a:hover, .footer-widget a:focus {
     text-decoration: none;
     color: #007BFF;
}
 .footer-nav li {
     display: inline-block;
}
 .footer-copyright {
     color: #102E37;
     font-size: 13px;
}