<!-- Footer -->
<footer id="footer">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-widget">
                    <ul class="footer-nav">
                        <li><a href="/privacy-policy">隱私權條款</a></li>
                        |
                        <li><a href="#">聯繫我們</a></li>
                    </ul>
                    <div class="footer-copyright">
                        <span>&copy; 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> by <a href="https://benny123tw.github.io/bh-blog" target="_blank">B.H</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /Footer -->