{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<div class="container">
    <div class="row">
        <div class="col-6 course-li">
            <ul>
            {% for key,value in user_Dict.items%}
                <li><a href="{{value}}" onclick="showContent()">
                    <h3>{{key}}<span class="course-name">
                    <i class="fas fa-plus" ></i></span></h3></a>
                    <div id="course-content" class="course-content" style="display: none;">
                        <ul>
                            <li>
                                <h5>公告</h5>
                                <p>
                                    {% if course.board %}
                                    {{ course.board }}
                                    {% else %}
                                    沒有公告的啦
                                    {% endif %}
                                </p>
                            </li>
                            <li>
                                <h5>作業</h5>
                                <p>
                                    {% if course.hw %}
                                    {{ course.hw }}
                                    {% else %}
                                    沒有作業的啦
                                    {% endif %}
                                </p>
                            </li>
                                <li>
                                <h5>文件</h5>
                                <p>
                                    {% if course.doc %}
                                    {{ course.doc }}
                                    {% else %}
                                    沒有文件的啦
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            
        </div>
        
    </div>
</div>
<script src= "{% static "js/custom.js" %}"></script>
